<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "template/meta_contenu.html"
#INCLURE "template/js.html"
</head>
<body>
<div id="global" class="sansAriane">
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "template/entete.html"
        #INCLURE "template/menuaccueil.html"
		<div id="degMenu"></div>
		#INCLURE"template/menunochemin.html"
		<div id="contenu">
			<h1>La page demand&eacute; n'existe pas !</h1>
			<div class="queFaire">
				<a class="bouton" href="#URLSOMMAIRE"><span><span><span>Retour en page d'accueil</span></span></span></a>
			</div>		</div>
        </div>
	</div>
            #INCLURE "template/pied.html"
		 
</div>
</body>
</html>
