#PARAM_FOND_securise=1
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#INCLURE "template/meta.html"
    #INCLURE "template/js.html"
</head>
<body>      
<div id="global" class="sansAriane tunnel">
    <div id="wrapper">
		#INCLURE "template/entete.html"
        <div id="corps">
            <div id="etapesDeCommande">
                <ul>
                    <li class="etape1"><span class="libelle">Panier</span></li>
                    <li class="selection etape2"><span class="libelle">Facturation et livraison</span></li>
                    <li class="etape3"><span class="libelle">Je v&eacute;rifie ma commande</span></li>
                    <li class="etape4"><span class="libelle">Paiement s&eacute;curis&eacute;</span></li>
                </ul>
            </div>
            <h2 class="clear titre-special">Mes coordonn&eacute;es</h2>
            <div class="adresseDeFacturation">				
                <h3>Mon adresse de facturation</h3>
                <div class="contenu">
                    #CLIENT_RAISON #CLIENT_PRENOM #CLIENT_NOM<br />
                    #CLIENT_ADRESSE1 #CLIENT_ADRESSE2 #CLIENT_ADRESSE3<br />
                    #CLIENT_CPOSTAL #CLIENT_VILLE<br />
                    #CLIENT_PAYS
                </div>
                <a href="#URLCOMPTEMODIFIER" class="modifierOuAjouter">Modifier cette adresse</a>
            </div>
            <div class="adresseDeLivraison">				
                <h3>Mon adresse de livraison </h3>
                <THELIA_adrcours type="ADRESSE" adresse="#ADRESSE_ACTIVE">
                <div class="contenu">
                    #RAISON #PRENOM #NOM<br />
                    #ADRESSE1 #ADRESSE2 #ADRESSE3<br />
                    #CPOSTAL #VILLE<br />
                    <THELIA_pays type="PAYS" id="#PAYS">#TITRE</THELIA_pays>
                </div>
                <THELIA_adrmodcours type="ADRESSE" adresse="#ADRESSE_ACTIVE" defaut="0">
                    <a href="#URLFOND(livraison_modifier,adresse=#ID)" class="modifierOuAjouter">Modifier cette adresse</a>
                </THELIA_adrmodcours>
                </THELIA_adrcours>	
                <h4>S&eacute;lectionnez une autre adresse de livraison</h4>
                <ul>
                    <li><a href="#URLFOND(adresse,action=modadresse&amp;adresse=0)">Mon adresse de facturation par d&eacute;faut</a></li>
                    
                    <THELIA_adr type="ADRESSE" client="#CLIENT_ID">
                        <li>
                            <a href="#URLFOND(adresse,action=modadresse&amp;adresse=#ID)">#LIBELLE</a>
                    </li>
                    </THELIA_adr>
                </ul>
                <a href="#URLFOND(livraison_adresse)" class="modifierOuAjouter">Ajouter une nouvelle adresse de livraison</a>
            </div>
        </div>
        <div id="contenu">
<!--       <h3>Information :</h3>
                <p>ATTENTION : L'&eacute;quipe de DAfunkyplace.com est en <strong class="blue">vacances du 9 au 17 novembre. </strong><br/> Les commandes pass&eacute;es dans cette p&eacute;riode seront exp&eacute;di&eacute;e <strong class="blue">le 19 novembre !</strong>
                </p> -->
            <h2 class="clear titre-special">Choisissez un mode de livraison : </h2>
            <div class="choixDeLaLivraison">
            	<ul>
                	<THELIA_transport type="TRANSPORT">
                	<li><a href="#URLCMD"><span class="modeDeLivraison">#TITRE / #PORT &euro;</span><span class="choisir">Je choisis ce mode de livraison</span></a></li>
                	</THELIA_transport>
                </ul>
            </div>
            <div class="queFaire">
                <a href="#URLPREC" class="bouton left"><span>< Retour page précédente</span></a>
            </div>
        </div>		  	
	</div>
    #INCLURE "template/pied.html"
</div>
</body>
</html>
