#PARAM_FOND_securise=1 #PARAM_FOND_panier=1 #PARAM_FOND_transport=1
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "template/meta.html"
    #INCLURE "template/js.html"
    </head>
<body>
<div id="global" class="sansAriane tunnel">
<div id="wrapper">
	   #INCLURE "template/entete.html"
		<div id="corps">
			<div id="etapesDeCommande">
				<ul>
                    <li class="etape1"><span class="libelle">Panier</span></li>
                    <li class="etape2"><span class="libelle">Facturation et livraison</span></li>
                    <li class="selection etape3"><span class="libelle">Je v&eacute;rifie ma commande</span></li>
                    <li class="etape4"><span class="libelle">Paiement s&eacute;curis&eacute;</span></li>
				</ul>
			</div>            
			<h2 class="titre-special clear">R&eacute;capitulatif de ma commande </h2>
            <form action="#URLFOND(commande)" id="formCommande">
            <input type="hidden" name="action" value="codepromo" />
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
            	<tr>
            		<th colspan="2">Nom de l'article</th>
            		<th align="center">Prix unitaire </th>
           		  <th align="center">Quantit&eacute;</th>
           		  <th align="center">Total</th>
           	  </tr>
            	<THELIA_panier type="PANIER">
            	<tr>
                    <td class="ligne">
                        <THELIA_IMAGE type="IMAGE" num="1" produit="#ID"  largeur="80">
                        <img src="#IMAGE" alt="#PRODTITRE" title="#PRODTITRE"/>
                        </THELIA_IMAGE>
                    </td>
                    <td class="ligne">#TITRE - #REF</td>
                    <td align="center" class="ligne">#PRIXU &euro;</td>
                  <td align="center" class="ligne">#QUANTITE</td>
                  <td align="center" class="ligne">#TOTAL &euro;</td>
            	</tr>
            </THELIA_panier>
            <tr>
            	<th colspan="4">Frais de livraison </th>
            	<th align="center">#PANIER_PORT &euro;</th>
            </tr>
            <tr>
            	<td colspan="4">Remise </td>
            	<td align="center">#PANIER_REMISE &euro;</td>
            </tr>
            <tr>
				<th colspan="5">
				<p class="derniereLigne"><label class="codeDeReduction">Saisissez un code de r&eacute;duction</label>
				<input name="code" type="text" class="codeDeReduction"/>
				<button type="submit" class="boutonMemeLigneQuInput"><span><span>OK</span></span></button>
				</p>
				</th>
            </tr>            
            <tr>
            	<th colspan="4" class="right">TOTAL</th>
            	<th align="center" class="total">#PANIER_TOTPORT &euro;</th>
            </tr>
            </table>
            </form>
            <div class="adresseDeLivraisonRecap">				
				<h3>Mon adresse de livraison</h3>
				<div class="contenu">
            		<THELIA_adrcours type="ADRESSE" adresse="#ADRESSE_ACTIVE">
            		#RAISON #PRENOM #NOM	<br />
            		#ADRESSE1 #ADRESSE2 #ADRESSE3<br />
            		#CPOSTAL #VILLE<br/>
            		<THELIA_pays type="PAYS" id="#PAYS">
            		#TITRE	
            		</THELIA_pays>
            		</THELIA_adrcours>
				</div>
				<a href="#URLPREC" class="modifierOuAjouter">Modifier cette adresse</a>
			</div>
			<div class="choixDuReglement">
            <h2 class="clear titre-special">Choisissez un mode de paiement : </h2>
            	<ul>
					<THELIA_PAIEMENT type="PAIEMENT">
					<li><a href="#URLPAYER"><span class="modeDeReglement">#TITRE</span><span class="choisir">régler par Carte bancaire ou compte Paypal</span></a></li>
				</THELIA_PAIEMENT>
                </ul>
			</div>
		</div>		  	
	</div>
</div>
		#INCLURE "template/pied.html"
		 
</div>
</body>
</html>
