#PARAM_FOND_securise=1
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "template/meta.html"
	#INCLURE "template/js.html"
</head>
<body>
<div id="global" class="sansAriane">
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "template/entete.html"
         
		 
		
		<div id="contenu">
			<h2 class="titre-special">Mon compte : modifier mes informations </h2>
            <h3>Modifier mon mot de passe </h3>
			<form action="#URLFOND(moncompte)" method="post" name="modifier1" id="modifier1">
			<input type="hidden" name="action" value="modifiercompte" />
                  <input type="hidden" name="urlok" value="#URLPAGERET" />
			<p>
			<label for="motdepasse1">Nouveau mot de passe </label>
			<input name="motdepasse1" type="password" />
			</p>
  			<p>
			<label for="motdepasse2">Confirmation du mot de passe </label>
			<input  name="motdepasse2" type="password" />
 			</p>
            <p class="derniereLigne"><button type="submit" class="bouton"><span><span>Valider</span></span></button></p>
			</form>
            <h3>Modifier mes coordonn&eacute;es </h3>
			<form action="#URLFOND(moncompte)" method="post" name="modifier2" id="modifier2">
			<input type="hidden" name="action" value="modifiercompte" />
                  <input type="hidden" name="urlok" value="#URLPAGERET" />
 			<p>
            <label for="civilite">Civilit&eacute;</label>
            <select name="raison" size="1" class="zoneDeSaisie">
            <option value="">Choisissez ...</option>
            <option value="1" #CLIENT_RAISON1F>Madame</option>
            <option value="2" #CLIENT_RAISON2F>Mademoiselle</option>
            <option value="3" #CLIENT_RAISON3F>Monsieur</option>
            </select>
			</p>
			<p>
            <label for="nom">Nom*</label>
            <input  type="text" name="nom"   value="#CLIENT_NOM" />
  			</p>
  			<p>
            <label for="prenom">Pr&eacute;nom*</label>
            <input  type="text" name="prenom"   value="#CLIENT_PRENOM" />
            </p>
            <p>
            <label for="adresse1">Adresse*</label>
            <input  type="text" name="adresse1" class="zoneDeSaisie"  value="#CLIENT_ADRESSE1" /></label>
            </p>
            <p>
            <label for="adresse2">Compl&eacute;ment d'adresse </label>
            <input  type="text" name="adresse2" class="zoneDeSaisie"  value="#CLIENT_ADRESSE3"/></label>
            </p>
            <p>
            <label for="cpostal">Code postal* </label>
            <input  type="text" name="cpostal" class="zoneDeSaisie"   value="#CLIENT_CPOSTAL"/></label>
            </p>
            <p>
            <label for="ville">Ville*</label>
            <input  type="text" name="ville" class="zoneDeSaisie"   value="#CLIENT_VILLE"/></label>
            </p>
            <p>
            <label for="pays">Pays*</label>
            <select name="pays" size="1" class="zoneDeSaisie">
            <option value="" selected="selected">Choisissez ...</option>
            <THELIA_pays type="PAYS" zdefinie="1">           
            <option value="#ID"  #SELECTED>#TITRE</option>
            </THELIA_pays>
            </select>
            </p>
            <p>
            <label for="telfixe">T&eacute;l&eacute;phone fixe* </label>
            <input  type="text" name="telfixe"   value="#CLIENT_TELFIXE"  />
            </p>
            <p>
            <label for="telport">T&eacute;l&eacute;phone portable </label>
            <input  type="text" name="telport"   value="#CLIENT_TELPORT"/></label>
            </p>
            <p>
            <label for="email1">Email*</label>
            <input  type="text" name="email1"  value="#CLIENT_EMAIL"/></label>
            </p>
            <p>
            <label for="email2">Confirmation de votre e-mail* </label>
            <input  type="text" name="email2" value="#CLIENT_EMAIL"/></label>
            </p>
            <p class="derniereLigne"><button type="submit" class="bouton"><span><span>Valider</span></span></button></p>
            </form>
		</div>
</div>
	</div>
    		#INCLURE "template/pied.html"
		 
</div>
</body>
</html>
