	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "template/meta_contenu.html"
#INCLURE "template/js.html"
</head>
<body>
<div id="global">
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "template/entete.html"
        #INCLURE "template/menuaccueil.html"
		<div id="degMenu"></div>
		#INCLURE"template/menunochemin.html"
		<div id="contenu">
			<div id="contact">
				<h1>Merci de votre message !</h1>
				<p>Votre message a bien été envoyé<br/>
		        Nous répondrons le plus rapidement possible.<br/>
		        Bonne continuation sur Dafunkyplace !
		        </p>
			</div>
		</div>
</div>
	</div>
            #INCLURE "template/pied.html"
		 
</div>
</body>
</html>

    
    
    
				