<div id="top">
    <div class="inner-center clearfix">
        <div id="logo">
            <a href="#URLSOMMAIRE" title="retour en page d'accueil"><img src="template/images/logo.png" alt="logo accueil dafunky place" /></a>
       </div>
       <T_PANIER>
        <div id="monPanier">
            <span class="titreTop">Mon panier</span>
            <ul id="contenuPanier">
                <li>
                    <a href="#URLPANIER" class="panier">Votre panier contient #PANIER_NBART article(s)</a>
                    <THELIA_PANIER type="PANIER">
                    </THELIA_PANIER>		
                    <ul class="listeProduits">
                        <THELIA_panier type="PANIER">
                        <li><a href="#URLPANIER"><span class="nomArticle">#TITRE</span><span class="quantite">x #QUANTITE</span><span class="total">#TOTAL &euro;</span></a></li>
                        </THELIA_panier>
    					<li><a href="#URLPANIER" class="totalCommande"><span class="titreTotal">TOTAL :</span><span class="total">#PANIER_TOTAL &euro;</span></a></li>			
    				</ul>
                </li>
            </ul>
        </div>
        </T_PANIER>
        <//T_PANIER>
        <div id="monCompte">
            <span class="titreTop">Mon compte</span>
            <THELIA SI NON CONNECTE>
            <form action="#URLCOURANTE" method="post" id="connex" >
            <input type="hidden" name="action" value="connexion" />
            <input name="email" type="text" value="e-mail" size="13" onclick="this.value='';" />
            <input name="motdepasse" type="password" value="000000" size="13" onclick="this.value='';" />
            <p><button type="submit" class="bouton"><span><span>OK</span></span></button></p>
            <div class="menu"><a href="#URLFOND(mdpoublie)">Mot de passe perdu ?</a> | <a href="#URLCOMPTE">Mon compte</a></div>
            </form>
            </THELIA SI NON CONNECTE>
            <THELIA SI CONNECTE>
            Bonjour #CLIENT_PRENOM #CLIENT_NOM
            <div class="menu">
            	<a href="#URLFOND(moncompte)">Voir mon compte</a> | <a href="#URLDECONNEXION">Me d&eacute;connecter</a>
            </div>
            </THELIA SI CONNECTE>
    	</div>
    </div>
</div>
#INCLURE"template/menu.html"