<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "template/meta.html"
      #INCLURE "template/js.html"
      </head>
<body>
<div id="global" class="sansAriane tunnel">
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "template/entete.html"
		#INCLURE"template/menuaccueil.html"
        <div id="degMenu"></div>
		#INCLURE"template/menunochemin.html"
        <div id="contenu">
            <h2 class="titre-special">Identifiez-vous : des erreurs dans votre saisie !</h2>
            <h4>Relisez les informations que vous souhaitez  nous transmettre. Vous avez sans doute fait une erreur.</h4>
            <form action="#URLNOUVEAU" method="post" name="nouveau" id="nouveau">
            <input type="hidden" name="action" value="creercompte" />
            <p>
            <label for="civilite"> Civilit&eacute; #RAISONID[<span class="obligatoire">(obligatoire)</span>]</label> 
            <select name="raison" size="1">
            <option value="" selected="selected">Choisissez ...</option>
            <option value="1" #RAISON1>Madame</option>
            <option value="2" #RAISON2>Mademoiselle</option>
            <option value="3" #RAISON3>Monsieur</option>
            </select>
            </p>
            <p>
            <label for="nom"> Nom #NOM[<span class="obligatoire">(obligatoire)</span>]</label> 
            <input type="text" name="nom" value="#NOM" />
            </p>
            <p>
            <label for="prenom"> Pr&eacute;nom #PRENOM[<span class="obligatoire">(obligatoire)</span>]</label> 
            <input type="text" name="prenom" value="#PRENOM" />
            </p>
            <p>
            <label for="adresse1"> Adresse #ADRESSE1[<span class="obligatoire">(obligatoire)</span>]</label> 
            <input type="text" name="adresse1" value="#ADRESSE1"  />
            </p>
            <p>
            <label for="adresse2"> Compl&eacute;ment d'adresse</label> 
            <input type="text" name="adresse2" value="#ADRESSE2"  />
            </p>
            <p>
            <label for="cpostal"> Code postal #CPOSTAL[<span class="obligatoire">(obligatoire)</span>]</label> 
            <input type="text" name="cpostal" value="#CPOSTAL"  />
            </p>
            <p>
            <label for="ville"> Ville #VILLE[<span class="obligatoire">(obligatoire)</span>] </label> 
            <input type="text" name="ville" value="#VILLE"  />
            </p>
            <p>
            <label for="pays"> Pays #PAYS[<span class="obligatoire">(obligatoire)</span>]</label> 
            <select name="pays" size="1">
            <option value="" selected="selected">Choisissez ...</option>
            <THELIA_pays type="PAYS" zdefinie="1">             
            <option value="#ID"  #SELECTED>#TITRE</option>
            </THELIA_pays>
            </select>
            </p>
            <p>
            <label for="telfixe"> T&eacute;l&eacute;phone #TELFIXE[<span class="obligatoire">(obligatoire)</span>]</label> 
            <input type="text" name="telfixe" value="#TELFIXE"  />
            </p>
            <p>
            <label for="email1"> E-mail#EMAIL[<span class="obligatoire">(V&eacute;rifiez votre E-Mail)</span>]#EXISTE[<span class="obligatoire">(Ce compte existe déjà)</span>]</label> 
            <input type="text" value="#EMAIL" name="email1"  />
            </p>
            <p>
            <label for="email2"> Confirmation de votre e-mail</label> 
            <input type="text"  value="#EMAIL" name="email2"  />
            </p>
            <p>
            <label for="motdepasse1"> Mot de passe #MOTDEPASSE[<span class="obligatoire">(V&eacute;rifiez votre mot de passe. 4 caract&egrave;res  minimum)</span>] </label> 
            <input  name="motdepasse1" type="password"  />
            </p>
            <p>
            <label for="motdepasse2"> Confirmation du mot de passe</label> 
            <input name="motdepasse2" type="password"  />
            </p>
            <p class="derniereLigne"><button type="submit" class="bouton"><span><span>Valider</span></span></button></p>
            </form>
        </div>
</div>
</div>
</div>
		 
		#INCLURE "template/pied.html"
</div>
</body>
</html>
