<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#INCLURE "template/meta.html"
#INCLURE "template/js.html"
<script src='js/jquery.cycle.min.js' type='text/javascript'></script>
<script src='js/slide.js' type='text/javascript'></script>
</head>
<body>
 <div id="global">   
    <div id="wrapper">
        <div id="subwrapper">
            #INCLURE "template/entete.html"
            <div id="contenuAccueil">
                <div id="slider">
                	<div id="slideshow">
 	                   <THELIA_DOSSIER type="DOSSIER" id="3">
                    		<THELIA_SLIDER type="CONTENU" id="13"> 
                            	<THELIA_IMAGE type="IMAGE" contenu="#ID">
                                	<img src="#IMAGE" alt="#TITRE" title="#TITRE" class="imgSommaireBlog"/>
                    			</THELIA_IMAGE>
                    	</THELIA_SLIDER>
                   </THELIA_DOSSIER>
                    </div>
                    <div id="nav"></div>                    
                </div>
                
                <div id="vignetteRubriqueAccueil">
                    <ul>
                        <li class="margin"><a href="#VARIABLE(urlsite)/casquettes_14_.html"><img src="template/images/vignette-casquette.jpg" width="312" height="187" alt="Base-ball cap" /></a>
                        <div class="survol"><h2>Base-ball cap</h2></div></li>
                        
                        <li class="margin"><a href="#VARIABLE(urlsite)/elektro-visor_1_.html"><img src="template/images/vignette-elektro-visor.jpg" width="312" height="187" alt="Elektro visor" /></a>
                        <div class="survol"><h2>Elektro visor</h2></div></li>
                        
                        <li><a href="#VARIABLE(urlsite)/montres_9_montres-casio-vintage_.html"><img src="template/images/vignette-montre-vintage.jpg" width="312" height="187" alt="Montres vintage" /></a>
                        <div class="survol"><h2>Montres vintage</h2></div></li>

                        <li class="margin"><a href="#VARIABLE(urlsite)/lunettes_20_lunettes-de-soiree_.html"><img src="template/images/vignette-lunettes-de-soiree.jpg" width="312" height="187" alt="Lunettes de soirée" /></a>
                        <div class="survol"><h2>Lunettes de soirée</h2></div></li>
                        
                        <li class="margin"><a href="#VARIABLE(urlsite)/ghetto-blaster_5_.html"><img src="template/images/vignette-ghettoblaster.jpg" alt="LASONIC I931 BT" width="312" height="187" /></a>
                        <div class="survol"><h2>LASONIC I931 BT</h2></div></li>
                        
                        <li><a href="#VARIABLE(urlsite)/art-toys_2_.html"><img src="template/images/vignette-popobe.jpg" width="312" height="187" alt="Popobe bear" /></a>
                        <div class="survol"><h2>Popobe bear</h2></div></li>               
                   </ul>
                </div>
             </div>
            
        </div>
    </div>
    #INCLURE "template/pied.html"
</body>
</html>
