<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
#INCLURE "template/meta.html"
#INCLURE "template/tag_stats.html"
</head>
<body>
<div id="principale">
	<div id="interface">
#INCLURE "template/entete.html"
 
		<div id="chemin" class="grid_12"><a href="#URLSOMMAIRE">::accueil::</a> / ::mdpperduoublie::</div>
		<div id="contenu" class="grid_12">
			<h2>::compte:: : ::mdpperdu:: </h2>
			<h4>::inscrivez::</h4>
			<form action="#URLFOND(mdpoublieok)" method="post" name="formmdp" id="formmdp">
			<input type="hidden" name="action" value="chmdp" />
            <p class="derniereLigne">
            <label class="petit">::votreemail:: <span class="obligatoire">::inexistant::</span></label>
            <input name="email" type="text"/>
            <button type="submit" class="boutonMemeLigneQuInput"><span><span>::valider::</span></span></button>
            </p>
            </form>
		</div>
	</div>
</div>
#INCLURE "template/pied.html"

</body>
</html>




