<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "template/meta.html"
</head>
<body>
<div id="global" class="sansAriane">
	<div id="wrapper">
		#INCLURE "template/entete.html"
		<div id="contenu">
			<h2 class="titre-special">Mon compte : Mot de passe perdu ou oubli&eacute; </h2>
			Votre demande a &eacute;t&eacute; prise en compte. Vous allez recevoir par mail votre nouveau mot de passe.<br />
			Merci de votre compr&eacute;hension.
		</div>
	</div>
	#INCLURE "template/pied.html"
</div>
</body>
</html>