#PARAM_FOND_reset=1
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "template/meta.html"
	#INCLURE "template/js.html"
</head>
<body>
	
<div id="global" class="sansAriane">
<div id="wrapper">
	<div id="subwrapper">
	#INCLURE "template/entete.html"
		#INCLURE"template/menuaccueil.html"
        <div id="degMenu"></div>
		#INCLURE "template/menunochemin.html"
		<div id="contenu">
			<h1 class="titre-bleu">Merci !</h1>
			<p><strong>Notre boutique vous remercie pour votre achat.</strong></p>
          	<p><strong>Bonne navigation et 	&agrave; bientot.</strong></p>
			<div class="queFaire">
				<a class="bouton" href="#URLSOMMAIRE"><span>Retour en page d'accueil</span></a>
			</div>
		</div>
	</div>
    </div>
	#INCLURE "template/pied.html"
</div>
</body>
</html>
