<title>#CONTENU_NOM</title>
<meta charset="utf-8">
<!-- Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Dafunky place, la boutique spécialisée dans les articles et accessoires fun pour des soirées délirantes." />
<link rel="shortcut icon" href="template/images/favicon.ico"  type="image/x-icon" />
<link rel="stylesheet" href="template/css/global.css">
<!-- 
<link rel="alternate" type="application/rss+xml" title="Flux #VARIABLE(nomsite)" href="rss.php?ref=#PRODUIT_REF&amp;id_rubrique=#RUBRIQUE_ID" /> 
-->
<link rel=" shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		
