#PARAM_FOND_securise=1
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#INCLURE "template/meta.html"
	#INCLURE "template/js.html"
</head>
<body>
	
<div id="global" class="sansAriane">
<div id="wrapper">
	<div id="subwrapper">
	#INCLURE "template/entete.html"
		#INCLURE"template/menuaccueil.html"
        <div id="degMenu"></div>
		#INCLURE "template/menunochemin.html"
		<div id="contenu">
			<h2 class="titre-special">Mon compte </h2>					
			<div class="adresseDeFacturation">				
				<h3>Mes coordonn&eacute;es</h3>
				<div class="contenu">
                    #CLIENT_RAISON #CLIENT_PRENOM #CLIENT_NOM<br />
                    #CLIENT_ADRESSE1 #CLIENT_ADRESSE2 #CLIENT_ADRESSE3<br />
                    #CLIENT_CPOSTAL #CLIENT_VILLE<br />
                    #CLIENT_PAYS<br/>
                    T&eacute;l&eacute;phone fixe : #CLIENT_TELFIXE<br />
                    T&eacute;l&eacute;phone portable : #CLIENT_TELPORT<br />
                    E-mail :#CLIENT_EMAIL
				</div>
				<a href="#URLFOND(compte_modifier)" class="modifierOuAjouter">Modifier mon compte et mon mot de passe</a>
			</div>
			<div class="adresseDeLivraison">				
				<h3>Mes adresses de livraison </h3>
				<THELIA_adrcours type="ADRESSE" adresse="#ADRESSE_ACTIVE">
				<div class="contenu">
                    #RAISON #PRENOM #NOM<br />
                    #ADRESSE1 #ADRESSE2 #ADRESSE3<br />
                    #CPOSTAL #VILLE<br />
                    <THELIA_pays type="PAYS" id="#PAYS">#TITRE</THELIA_pays>
				</div>
				<THELIA_adrmodcours type="ADRESSE" adresse="#ADRESSE_ACTIVE" defaut="0">
				<a href="#URLFOND(livraison_modifier,adresse=#ID)" class="modifierOuAjouter">Modifier cette adresse</a>
				</THELIA_adrmodcours>
				</THELIA_adrcours>	
				<h4>Modifier une autre adresse de livraison</h4>
				<ul>
                    <li><THELIA_adr type="ADRESSE" client="#CLIENT_ID"><a href="#URLFOND(livraison_modifier,adresse=#ID)">#LIBELLE</a></THELIA_adr></li>
                </ul>
                <a href="#URLFOND(livraison_adresse)" class="modifierOuAjouter">Ajouter une nouvelle adresse de livraison</a>
			</div>														
		</div>
		<div id="contenu">
            <h2>Mes commandes</h2>
            <T_cmd>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <th>N&deg; de la commande </th>
                    <th align="center">Date</th>
                    <th align="center">Montant</th>
                    <th align="center">Statut</th>
                    <th align="center">Voir la commande</th>
                </tr>
                <THELIA_cmd type="COMMANDE" client="#CLIENT_ID">
                <tr>
                    <td class="ligne">#REF</td>
                    <td align="center" class="ligne">#DATE</td>
                    <td align="center" class="ligne">#TOTCMDPORT €</td>
                    <td align="center" class="ligne">#STATUT</td>
                    <td align="center" class="ligne"><a href="#URLFOND(commande_detail,commande=#REF)">Voir la commande</a></td>
                </tr>
                </THELIA_cmd>
            </table>
			</T_cmd>
			<h4>Vous n'avez aucune commande</h4>
			<//T_cmd>
		</div>

	</div>s
    </div>
    		#INCLURE "template/pied.html"
		 
</div>
</body>
</html>


