    <!-- Pied de page -->
<div id="footer">
    <div class="col colonneG">
    <h4>Catalogue</h4>
        <THELIA_MENU_RUBRIQUES_PIED type="RUBRIQUE" parent="0" classement="manuel">
        <h5><a href="#URL">#TITRE</a></h5>
        <T_BLOC_SS_MENU_RUBRIQUES_PIED>
        <p class="nomargin"><THELIA_BLOC_SS_MENU_RUBRIQUES_PIED type="RUBRIQUE" parent="#ID">
        <a href="#URL">#TITRE</a>
        </THELIA_BLOC_SS_MENU_RUBRIQUES_PIED></p>
        </T_BLOC_SS_MENU_RUBRIQUES_PIED>
        <//T_BLOC_SS_MENU_RUBRIQUES_PIED>
        </THELIA_MENU_RUBRIQUES_PIED>
    </div>                        
    <div class="col colonneM">
        <THELIA_MENU_DOSSIERS type="DOSSIER" classement="manuel" parent="0" id="1">           
        	<h4 ><a class="titreDossierFooter" href="#URL">#TITRE</a></h4>
            <T_BLOC_SS_MENU_DOSSIERS>
                <THELIA_BLOC_SS_MENU_DOSSIERS type="CONTENU" classement="manuel" dossier="#ID">
                    <h5><a href="#URL">#TITRE</a></h5>
                </THELIA_BLOC_SS_MENU_DOSSIERS>
                </T_BLOC_SS_MENU_DOSSIERS>
                <//T_BLOC_SS_MENU_DOSSIERS>
            </THELIA_MENU_DOSSIERS>	
        	<h5><a href="contact.php">Contact</a></h5>
             <THELIA_MENU_DOSSIERS type="DOSSIER" classement="manuel" parent="0" id="2" >           
        	<h4 ><a class="titreDossierFooter" href="#URL">Les derniers articles du blog</a></h4>
            <T_BLOC_SS_MENU_DOSSIERS>
                <THELIA_BLOC_SS_MENU_DOSSIERS type="CONTENU" classement="manuel" dossier="#ID" num="5">
                    <h5><a href="#URL">#TITRE</a></h5>
                </THELIA_BLOC_SS_MENU_DOSSIERS>
                </T_BLOC_SS_MENU_DOSSIERS>
                <//T_BLOC_SS_MENU_DOSSIERS>
            </THELIA_MENU_DOSSIERS>	
    </div>
    <div class="col colonneD">
        <div class="bloc">
            <h4>Paiement</h4>
            <p>Les paiements s'effectuent via Paypal. Vous pouvez régler votre commande par Carte bancaire ou simplement avec votre compte paypal si vous en possédez un.</p>
            <a href="http://www.paypal.fr/"><img src="template/images/paypal.png"  alt="logo paypal" width="120" height="89" /></a>
        </div>
        <div class="bloc">
    		<h4>Livraison</h4>
            <p>Les livraisons sont effectuées avec colissimo en 48h chrono.</p>
            <a href="http://www.colissimo.fr/"><img src="template/images/colissimo.png"  alt="logo colissimo" /></a>
        </div>
    </div>
	<div id="fbFooter" class="clear">
      <span>Suivez nous sur facebook : </span>
      <iframe src="http://www.facebook.com/plugins/like.php?app_id=244702505541790&amp;href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Fdafunkyplace%2F240522072626144&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
    <div id="copyright">                            
         <span>Copyright © 2011 - Thomas Bonnamour - Tous droits réservés - Site propulsé par : <a href="http://thelia.net/">Thelia</a></span>
    </div>
	</div>
</div>
