<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#INCLURE "template/meta_rubrique.html"
#INCLURE "template/js.html"
</head>
<body>
    <div id="global">
        <div id="wrapper">
            #INCLURE "template/entete.html"
            <div id="corps" class="clearfix">
                #INCLURE"template/menuSecondaire.html"
                <div id="contenuPageRubrique" class="col-central">
                    <T_imgrub>
                        <div id="bandeauTitre">
                            <THELIA_IMGRUB type="IMAGE" rubrique="#RUBRIQUE_ID">
                               <img src="#IMAGE"  alt="#TITRE" />
                            </THELIA_IMGRUB>
                            <h1>#RUBRIQUE_NOM  #FILTRE_egalite(#PRODUIT_NOUVEAUTE||1||Nouveaut&eacute;s) #FILTRE_egalite(#PRODUIT_PROMO||1||Promotions)</h1>
                        </div>
                        #INCLURE"template/ariane.html"
                    </T_imgrub>
                        #INCLURE"template/ariane.html"
                        <h1>#RUBRIQUE_NOM #FILTRE_egalite(#PRODUIT_NOUVEAUTE||1||Nouveaut&eacute;s) #FILTRE_egalite(#PRODUIT_PROMO||1||Promotions)</h1>
                    <//T_imgrub>
                    #INCLURE "template/listeProduit.html"
                </div>
            </div>
        </div>
        #INCLURE "template/pied.html"
    </div>
</body>
</html>
