<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<THELIA_rub type="RUBRIQUE">
   <url>
      <loc>#URL</loc>
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
   </url>
</THELIA_rub>
<THELIA_produit type="PRODUIT">
   <url>
      <loc>#URL</loc>
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
   </url>
</THELIA_produit>
<THELIA_dossier type="DOSSIER">
   <url>
      <loc>#URL</loc>
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
   </url>
</THELIA_dossier>
<THELIA_contenu type="CONTENU">
   <url>
      <loc>#URL</loc>
      <changefreq>weekly</changefreq>
      <priority>1.0</priority>
   </url>
</THELIA_contenu>	
</urlset>