<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#INCLURE "template/meta_produit.html"
	#INCLURE "template/js.html"
	<link rel="stylesheet" href="js/jquery.superbox.css" type="text/css" media="all" />
	<script type="text/javascript" src="js/jquery.superbox-min.js"></script>
	<script type="text/javascript">
		$(function(){
			$.superbox.settings = {
				overlayOpacity: 0.7,
				closeTxt: "Fermer",
				loadTxt: "Chargement...",
				nextTxt: "Image suivante",
				prevTxt: "Image précédente"
			};
			$.superbox();
		});
	</script>
</head>
<body>
<div id="global">
<div id="wrapper">
	<div id="subwrapper">
		#INCLURE "template/entete.html"
        #INCLURE "template/menuaccueil.html"
		<div id="degMenu"></div>
		#INCLURE"template/menu.html"
		<div id="contenu">
            <div class="blocProduit">
				<THELIA_PROD type="PRODUIT" ref="#PRODUIT_REF">
				<h1>#TITRE</h1>
                <div class="blocDImages">
                    <THELIA_img type="IMAGE" num="1" produit="#ID" largeur="342">
                    <THELIA_ZOOM type="IMAGE"  num="1" id="#ID" largeur="800">
                    <a href="#IMAGE" rel="superbox[gallery][my_gallery]" class="grandeImage"  title="#PRODTITRE">
                    </THELIA_ZOOM>
                    <img src="#IMAGE" alt="#PRODTITRE" title="#PRODTITRE"/>
                    </a>
                    <div class="clear"></div>
                   
                    </THELIA_img>
                     
					<T_vignette>
                    
                    <ul class="vignettes">
                    	<THELIA_vignette type="IMAGE" produit="#ID" debut="2" hauteur="81">
						<li>
							<THELIA_ZOOM_VIGNETTE type="IMAGE"  num="1" id="#ID" largeur="800" hauteur="600">
                            <a href="#IMAGE" rel="superbox[gallery][my_gallery]">
							</THELIA_ZOOM_VIGNETTE>
                            <img src="#IMAGE" alt="#PRODTITRE" title="#PRODTITRE"/>
							</a>
						</li>
                    	</THELIA_vignette>
                    </ul>
					</T_vignette>
					<//T_vignette>
                </div>
                <div class="introProduit">
                	#FILTRE_vide(#CHAPO||<div class="chapo"><h2>#CHAPO</h2></div>) 
                    <div class="description">#DESCRIPTION</div>
	
<form id="decliform" action="panier.php" method="post">
    <input  type="hidden" name="action" value="ajouter" />
    <input type="hidden" name="ref" value="#REF" />
    <T_DECLI>

    <THELIA_DECLI type="DECLINAISON" rubrique="#RUBRIQUE_ID" produit="#ID">
	<div id="choixDecli">	                    
      <label>#TITRE :</label>
        <select name="declinaison#ID" >
          <THELIA_DECLIDISP type="DECLIDISP" declinaison="#ID" produit="#PRODUIT" stockmini="1">
            <option value="#ID">#TITRE</option>
          </THELIA_DECLIDISP>
		                       
        </select>
    </div>
    </THELIA_DECLI>
      
    </T_DECLI>
                
                    
    <//T_DECLI>
    <div class="clear"></div>
    #PROMO[<span class="prixProduit">#PRIX2 &euro;</span> <span class="ancienPrix">au lieu de #PRIX &euro;</span>][<span class="prixProduit">#PRIX &euro;</span>]
     #FILTRE_different(#STOCK||0||<input class="acheter" type="submit" value="" border="0" />)
     #FILTRE_egalite(#STOCK||0||<span class="epuise">Produit épuisé !</span>)


</form>
                <iframe src="http://www.facebook.com/plugins/like.php?app_id=244702505541790&amp;href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Fdafunkyplace%2F240522072626144&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>    
				</div>
                
				<T_DOCUMENT>
				<div class="telechargements">
					<h3>T&eacute;l&eacute;chargement(s)</h3>
					<ul>
                		<THELIA_DOCUMENT type="DOCUMENT" produit="#PRODUIT_ID">
                		<li><a href="#FICHIER">#TITRE</a></li>
						</THELIA_DOCUMENT>
					</ul>
				</div>
				</T_DOCUMENT>
				<//T_DOCUMENT>
            	<T_CONTENU>
				</T_CONTENU>
            	<//T_CONTENU>
				</THELIA_PROD>
			</div>
			<T_ACC>
            <div class="blocMozaique">
                <h3>Nous vous proposons &eacute;galement</h3>
                <div class="contenu">
					<ul class="image">
                		<THELIA_ACC type="ACCESSOIRE" aleatoire="1" produit="#PRODUIT_ID" num="8">
                    	<li>
                            <THELIA_LIEN_PROD type="PRODUIT" id="#ACCESSOIRE">
                            <a href="#URL">
                            </THELIA_LIEN_PROD>
                            <THELIA_IMAGE type="IMAGE" num="1" produit="#ACCESSOIRE" hauteur="81">
							<img src="#IMAGE" alt="#TITRE" title="#TITRE"/>
                            </THELIA_IMAGE>
                            </a>
                    	</li>
              			</THELIA_ACC>
                    </ul>
                </div>
            </div>
			</T_ACC>
			<//T_ACC>
		</div>
	</div>
   </div>
		 
        #INCLURE "template/pied.html"
</div>
</body>
</html>
