/* ===================================================================
 * STRUCTURE
 * =================================================================*/
#global { min-width: 320px; }

#logo { left: 2%; padding-left: 72px; margin-top: 3px; text-align: left; }
#logo a { width: 130px;  }

/* Tableau responsive */
.table-responsive { white-space: nowrap; display: block; overflow-x:scroll; }
.pull-left,
.pull-right { float: none !important; clear: both; width: 100% !important; }

/* ===================================================================
 * FOOTER
 * =================================================================*/
#footer .colonneD { display: block; width: 100%; padding: 0; margin: 0; }
#footer .colonneG { display: none; }
#footer .colonneM { display: block; padding: 0; width: 100%; margin-bottom: 20px; }
#footer .colonneM .menu-contenu + .menu-contenu { display: none; }
#footer .bloc img { text-align: center; }


/* ===================================================================
 * LISTE PRODUIT
 * =================================================================*/
.petitBlocProduit { width: 48%; margin-left: 4%; }
.petitBlocProduit:nth-child(4n+1) { margin-left: 4%; clear: none; }
.petitBlocProduit:nth-child(3n+1) { margin-left: 4%; clear: none; }
.petitBlocProduit:nth-child(2n+1) { clear: both; margin-left: 0; }

/* ===================================================================
 * FICHE PRODUIT
 * =================================================================*/
.blocProduit .blocDImages { float: none; width: 100%; }
.blocProduit .introProduit { float: none; width: 100%; }
.blocProduit .description { width: auto; }

/* ===================================================================
 * TUNNEL
 * =================================================================*/
.page-connexion #contenu label {
	display: block;
	float: none;
	font-size: 14px;
	text-align: left;
	width: 100%;
}
.page-connexion #contenu .textConnexion { text-align: left; }
.page-connexion #nouveau .bouton,
.page-connexion #connexion .bouton { margin: 0; }

/* ===================================================================
 * COMPTE
 * =================================================================*/
.page-connexion #connexion .bouton,
.page-connexion #nouveau .bouton { margin: 0; width: 100%; }
#contenu form p label { display: block !important; width: 100% !important; text-align: left; }
#contenu form p input,
#contenu form p select,
#contenu form p textarea { width: 100% !important; float: none !important; }

/* ===================================================================
 * TUNNEL
 * =================================================================*/
.adresseDeFacturation,
.adresseDeLivraison { float: none; width: 100%; clear:both; }
.choixDeLaLivraison .choisir { display: block; float: none; }
.mode-livraison-recap .livraison-info { width: 37%; }

/* ===================================================================
 * ACCUEIL
 * =================================================================*/
.vignette-accueil > div { float: left; display: block; width: 48.5%; margin-bottom: 10px; border: 0 !important; }
.vignette-accueil .col-three { float: right; }
.vignette-accueil .bloc-produit { display: none; }

/* ===================================================================
 * PAGE SPECIALE
 * =================================================================*/
.illu { width: 100%; text-align: center; margin-bottom: 15px; }
.illu a { height:auto; max-width: 100%; }
.sommaireDescription { width: 100%; }
#socialLink { clear: both; float: none; margin-bottom: 15px; }

/* Formulaire */
#formulaire { float: none; clear: both; width: auto; }
#formulaire .colonneSubmit .bouton { width: 100%; margin-left: 0; }
#formulaire .obligatoire { margin: 0; }
#coordonnee { clear: both; float: none; width: 100%; }
