/* ===================================================================
 * STRUCTURE
 * =================================================================*/
#global { min-width: 320px; }

/* ===================================================================
 * FOOTER
 * =================================================================*/
 #footer .colonneM,
 #footer .colonneG { display: none; }
 #footer .colonneD { display: block; width: 100%; padding: 0; margin: 0; }


/* ===================================================================
 * LISTE PRODUIT
 * =================================================================*/
.petitBlocProduit { width: 48%; margin-left: 4%; }
.petitBlocProduit:nth-child(4n+1) { margin-left: 4%; clear: none; }
.petitBlocProduit:nth-child(3n+1) { margin-left: 4%; clear: none; }
.petitBlocProduit:nth-child(2n+1) { clear: both; margin-left: 0; }

/* ===================================================================
 * FICHE PRODUIT
 * =================================================================*/
.blocProduit .blocDImages { float: none; width: 100%; }
.blocProduit .introProduit { float: none; width: 100%; }
.blocProduit .description { width: auto; }