
/* ===================================================================
 * STRUCTURE
 * =================================================================*/
#wrapper { padding: 0 2%; }
.col-left { display: none; }
.col-central { float: none; width: 100%; }

/* ===================================================================
 * MENU
 * =================================================================*/

#menu { display: none; }

.btn-menu { 
    background: #0d7fc0; 
    display: block;
    float: left;
    height: 45px; 
    padding: 10px;
    width: 50px; 
    margin-right: 20px;
}

.btn-menu span { 
    border-top: 5px solid white; 
    display: block; 
    margin-bottom: 4px; 
}

/* Style pour affichage du menu latérale */
#globalWrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}
#global {
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.menu-open #global { left: 80%; transition: all 0.4s ease 0s; }
#global:after { opacity: 0; transition: all 0.6s ease 0s; }
.menu-open #global:after {
    background-color: rgba(0, 0, 0, 0.7);
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 1;
}

.menu-lateral {
    background: #111;
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    transition: all 0.4s ease 0s;
}
.menu-open .menu-lateral {
    width: 80%;
}

/* ===================================================================
 * HEADER
 * =================================================================*/
#top { padding-bottom: 5px; }
#logo { float: left; margin: 0; }
#monCompte { clear: both; float: right; width: 100%; }
#monCompte form { display: none; }

/* ===================================================================
 * FOOTER
 * =================================================================*/
 #footer { padding: 20px 2%; }
 #footer .col { width:50%;}
 #footer .colonneD { margin-top: 20px; width: 100%; display: block; padding-left: 0; border: 0; }
 #footer .colonneD {  }
 #footer .colonneD img { margin-left: 0; text-align: center; }
 #footer .bloc { float: left; width: 46%; }
 #footer .bloc + .bloc { float: right; }

/* ===================================================================
 * LISTE PRODUIT
 * =================================================================*/
.petitBlocProduit { width: 31%; margin-left: 2.33%; }
.petitBlocProduit:nth-child(4n+1) { margin-left: 2.33%; clear: none; }
.petitBlocProduit:nth-child(3n+1) { clear: both; margin-left: 0; }

.blocProduit .blocDImages { width: 46%; }